<div id="page_wrapper">
		<table class="clinic_table" border='2'>
			<tr>
				<th>Date</th>
			</tr>
		<% @clinics.each do |clinic| %>
			<tr>
				<td><%= link_to clinic.calls_id, clinic %></td>
				<td><%= link_to clinic.date, clinic %></td>

			</tr>
			
		<% end %>
		</table>

		
	</div>